
.analysis-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.analysis-feature {
  width: 25%;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}

.feature-name {
  font-weight: bold;
}

.submit{
    background-color: #1DB954;
    /* border: 1px solid black; */
    color: white;

}

.chart-container {
  height:100px;
  width:100px;
}

.radar_container {

}